/* 

	CLASSES_RESP.css

*/

/* WIDTH ====================================== */

@media only screen and (max-width: 1200px) {
  /* CLASSES BLOCK ============ */

  .classes-cards {
    grid-template-columns: 49% 49%;
  }
}

@media only screen and (max-width: 990px) {
  /* OUR PLUSES ====================== */

  .our-pluses {
    flex-direction: column;
  }
  .our-pluses-item {
    width: 100%;
    margin-top: 70px;
  }
  .our-pluses-item:first-child {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 750px) {
  /* CLASSES BLOCK ============ */

  .classes-cards {
    grid-template-columns: 100%;
  }
}

/* HEIGHT ====================================== */
