/*

1)INTRO SLIDER
2)ADVANTAGES
3)ABOUT

*/

/* 1)INTRO SLIDER ====================================*/
.intro-slider {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 560px;
  max-height: 900px;
}
.intro-slider .slides-wrapper {
  display: flex;
  height: 100%;
  transform: translateX(0);
  transition: all 0.6s linear;
}
.intro-slider .slide-item {
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.intro-slider .slide-gradient {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(120, 0, 255, 0.34),
    rgba(255, 14, 59, 0.34)
  );
}
.intro-slider .slide-content-wrapper {
  height: 100%;
  width: 100%;

  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-slider .slide-content {
  width: 100%;
  text-transform: uppercase;
  transition: 0.5s ease-in opacity;
  transition-delay: 0.3s;
  opacity: 0;
}
.intro-slider .slide-item.active .slide-content {
  opacity: 1;
}
.intro-slider .title-wrapper {
  letter-spacing: 3.6px;
  margin-bottom: 80px;
}
.intro-slider .subtitle {
  font-size: 18px;
  font-weight: 700;
}
.intro-slider h1.title {
  font-size: 72px;
  font-weight: 300;
}
.intro-slider h1.title span {
  font-weight: 700;
}
.intro-slider .slider-controller-wrapper {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
}
.intro-slider .slider-controller {
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
}
.intro-slider .controller-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: all 0.2s ease;
}
.intro-slider .controller-item:hover {
  cursor: pointer;
}
.intro-slider .controller-item:not(.active):hover {
  color: rgb(255, 14, 59);
}
.intro-slider .controller-item.active {
  background-color: rgb(255, 14, 59);
  width: 50px;
  height: 50px;
}

/* ADVANTAGES ======================================== */

.our-advantages {
  display: flex;

  width: 100%;
}
.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 75px;
  text-align: center;
  color: #fff;
}
.advantage-item:nth-child(1) {
  background-color: rgb(25, 10, 73);
}
.advantage-item:nth-child(2) {
  background-color: rgb(60, 9, 141);
}
.advantage-item:nth-child(3) {
  background-color: #ff0e3b;
}
.advantage-title {
  color: #fff;
  font-size: 18px;
  margin: 30px 0;
}
.advantage-text {
  color: #fff;
}

/* ABOUT SPORTIFY ==================================== */

.about-sportify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-info {
  width: 60%;
}
.about-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-img img {
  width: 100%;
  max-width: 349px;
  max-height: 349px;
  height: auto;
}
.about-info .button-1 {
  margin-top: 30px;
}

/* QUOTE ============================================== */

.quote {
  text-align: center;
}
.quote-text {
  width: 90%;
  margin: 0 auto;

  font-size: 36px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4;
  color: #2c2c2c;
}
.quote-author {
  margin-top: 42px;

  font-size: 18px;
  font-weight: 700;
  color: #2c2c2c;
}

/* JOIN OUR GYM ====================================*/

.join-our-gym {
  display: flex;
}
.join-our-gym .img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}
.join-our-gym .content {
  background-color: rgb(25, 10, 73);
  flex: 1.5;
  padding-left: 200px;
}
.join-our-gym .section-title {
  color: #fff;
}
.join-our-gym .adv {
  padding: 15px 0 15px 50px;
  position: relative;
}
.join-our-gym .adv::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  width: 33px;
  height: 33px;
  background-image: url(../images/check.png);
}
.join-our-gym .buttons {
  margin-top: 60px;

  display: flex;
}
.join-our-gym .button-1 {
  margin-right: 20px;
}
