/*

1)INTRO SLIDER
2)ADVANTAGES
3)ABOUT

*/

/* 1)INTRO SLIDER ====================================*/
.intro-slider {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 560px;
  max-height: 900px;
  display: flex;
}
.intro-slider .owl-stage-outer,
.intro-slider .owl-stage,
.intro-slider .owl-item {
  height: 100%;
}
.intro-slider .slide {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.intro-slider .slide-gradient {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(120, 0, 255, 0.34),
    rgba(255, 14, 59, 0.34)
  );
}
.intro-slider .slide-content-wrapper {
  height: 100%;
  width: 100%;

  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-slider .slide-content {
  width: 100%;
  text-transform: uppercase;
  transition: 0.5s ease-in opacity;
  transition-delay: 0.3s;
  opacity: 0;
}
.intro-slider .owl-item.active .slide-content {
  opacity: 1;
}
.intro-slider .title-wrapper {
  letter-spacing: 3.6px;
  margin-bottom: 80px;
}
.intro-slider .subtitle {
  font-size: 18px;
  font-weight: 700;
}
.intro-slider h1.title {
  font-size: 72px;
  font-weight: 300;
}
.intro-slider h1.title span {
  font-weight: 700;
}
.intro-slider .owl-dots {
  width: 130px;
  height: 45px !important;
  position: absolute;
  bottom: 5%;
  left: calc(10% + 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-slider .owl-dot {
  width: 30px;
  height: 30px;
}
.intro-slider .owl-dot span {
  background-color: transparent !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  transition: linear 0.2s !important;
}
.intro-slider .owl-dot span::after {
  display: block;
  position: relative;
  top: 50%;
  width: 100%;
  margin: 0 !important;
  transform: translate(0, -50%);
  color: #ffffff;
  font-size: 16px;
  transition: linear 0.2s;
}
.intro-slider .owl-dot:nth-child(1) span::after {
  content: "01.";
}
.intro-slider .owl-dot:nth-child(2) span::after {
  content: "02.";
}
.intro-slider .owl-dot:nth-child(3) span::after {
  content: "03.";
}
.intro-slider .owl-dot span:hover {
  cursor: pointer;
}
.intro-slider .owl-dot:not(.active):hover span::after {
  color: rgb(255, 14, 59);
}
.intro-slider .owl-dot.active {
  width: 45px !important;
  height: 45px !important;
}
.intro-slider .owl-dot.active span {
  background-color: rgb(255, 14, 59) !important;
}

/* ADVANTAGES ======================================== */

.our-advantages {
  display: flex;

  width: 100%;
}
.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 75px;
  text-align: center;
  color: #fff;
}
.advantage-item:nth-child(1) {
  background-color: rgb(25, 10, 73);
}
.advantage-item:nth-child(2) {
  background-color: rgb(60, 9, 141);
}
.advantage-item:nth-child(3) {
  background-color: #ff0e3b;
}
.advantage-title {
  color: #fff;
  font-size: 18px;
  margin: 30px 0;
}
.advantage-text {
  color: #fff;
}

/* ABOUT SPORTIFY ==================================== */

.about-sportify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-info {
  width: 60%;
}
.about-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-img img {
  width: 100%;
  max-width: 349px;
  max-height: 349px;
  height: auto;
}
.about-info .button-1 {
  margin-top: 30px;
}

/* QUOTE ============================================== */

.quote {
  text-align: center;
}
.quote-text {
  width: 90%;
  margin: 0 auto;

  font-size: 36px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4;
  color: #2c2c2c;
}
.quote-author {
  margin-top: 42px;

  font-size: 18px;
  font-weight: 700;
  color: #2c2c2c;
}

/* JOIN OUR GYM ====================================*/

.join-our-gym {
  display: flex;
}
.join-our-gym .img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}
.join-our-gym .content {
  background-color: rgb(25, 10, 73);
  flex: 1.5;
  padding-left: 200px;
}
.join-our-gym .section-title {
  color: #fff;
}
.join-our-gym .adv {
  padding: 15px 0 15px 50px;
  position: relative;
}
.join-our-gym .adv::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  width: 33px;
  height: 33px;
  background-image: url(../images/check.png);
}
.join-our-gym .buttons {
  margin-top: 60px;

  display: flex;
}
.join-our-gym .button-1 {
  margin-right: 20px;
}

/* CLASSES ============================== */

.classes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.classes-slider .slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 20px 108px 20px;
  background-color: rgb(238, 243, 246);
  margin-bottom: 54px;
  height: auto !important;

  transition: 0.2s linear background-color;
  text-align: center;
}
.class-title {
  color: #2c2c2c;
  font-size: 24px;
  margin-bottom: 20px;

  transition: linear 0.2s color;
}
.class-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, +50%);
}
.class-image img {
  border-radius: 50%;
  border: transparent 3px solid;
  transition: 0.2s linear border;
}
.classes-slider .slide:hover {
  background-color: rgb(25, 10, 73);
}
.classes-slider .slide:hover .class-title {
  color: #fff;
}
.classes-slider .slide:hover img {
  border: #ff0e3b 3px solid;
}

/* PRICING ================================= */

section.pricing {
  background: center center no-repeat;
  background-size: cover;
}
.pricing-inner {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-inner h1.section-title {
  color: #fff;
}
.pricing-slider .owl-item:nth-child(even) {
  background-color: rgb(25, 10, 73);
}
.pricing-slider .owl-item:nth-child(odd) {
  background-color: #fff;
}
.pricing-slider .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pricing-inner .title-box {
  height: 202px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.pricing-inner .title-box::before {
  content: "";
  display: block;
  width: 350px;
  height: 200px;
  transform-origin: left bottom;
  position: absolute;
  transform: rotate(-20deg);
  left: 50%;
  top: 0px;
  z-index: 0;
}
.pricing-inner .owl-item:nth-child(even) .title-box::before {
  background-color: #ff0e3b;
}
.pricing-inner .owl-item:nth-child(odd) .title-box::before {
  background-color: rgb(25, 10, 73);
}
.pricing-inner .title-box::after {
  content: "";
  display: block;
  width: 350px;
  height: 200px;
  transform-origin: right bottom;
  position: absolute;
  transform: rotate(20deg);
  right: 50%;
  top: 0px;
  z-index: 0;
}
.pricing-inner .owl-item:nth-child(even) .title-box::after {
  background-color: #ff0e3b;
}
.pricing-inner .owl-item:nth-child(odd) .title-box::after {
  background-color: rgb(25, 10, 73);
}
.pricing-inner .title-box > div {
  position: relative;
  z-index: 1;
}
.pricing-inner .pricing-name {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 40px;
}
.pricing-inner .pricing-price {
  font-size: 48px;
  margin-top: 14px;
}
.pricing-inner .pricing-price span {
  font-size: 24px;
  vertical-align: super;
  margin-left: 5px;
}
.pricing-inner .pricing-per {
  margin-top: 10px;
}
.pricing-content {
  padding: 52px 0 46px 0;
}
.pricing-content .slide-info {
  color: #909090;
}
.pricing-content .slide-info li {
  margin-bottom: 20px;
}
.pricing-content .slide-info li:last-child {
  margin-bottom: 0px;
}
.pricing-content .info {
  display: block;

  width: 20px;
  height: 20px;
  background-color: rgb(255, 192, 22);
  border-radius: 50%;

  margin: 40px auto;
}
