/* 

MAIN.css
1)All pref
2)Header
3)Fixed-header
4)Menu

*/

/* Font ============================ */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800");

/* Main ============================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-out;
  cursor: pointer;
}
p {
  line-height: 2.145;
  font-weight: 400;
  color: #909090;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.container {
  height: 100%;
  width: 80%;
  max-width: 1150px;
}

/* HEADER =========================== */

header {
  position: absolute;
  left: 150px;
  top: 50px;
  height: 90px;
  width: calc(100% - 300px);
  padding: 8px 60px 0 60px;
  border-bottom: solid 3px rgb(255, 14, 59);
  z-index: 1000;

  background-color: rgb(25, 10, 73);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.main-nav {
  width: 30%;
  max-width: 500px;
  min-width: 400px;
}
.header-social-networks {
  width: 15%;
  min-width: 170px;
  max-width: 300px;
}
nav.main-nav ul,
.header-social-networks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
  font-weight: 800;

  height: 100%;
}
nav.main-nav a:hover,
nav.main-nav ul .active a,
.header-social-networks a:hover,
.menu-social-networks a:hover,
.menu-close:hover,
.hamburger:hover,
nav.menu-nav a:hover {
  color: rgb(255, 14, 59);
  cursor: pointer;
}
.hamburger {
  font-size: 25px;
  display: none;
  transition: 0.2s ease-out;
}

/* MENU ========================================= */

.menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;

  font-size: 14px;
  text-transform: uppercase;

  visibility: hidden;
}
.menu-door {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(25, 10, 73, 0.9);
}
.left-door {
  right: 50%;
}
.right-door {
  left: 50%;
}
.menu-content {
  opacity: 0;
}
.menu-close {
  position: absolute;
  top: 40px;
  right: 60px;
  font-weight: 900;
}
nav.menu-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  font-weight: 900;
  text-align: center;
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 1.6;
}
.menu-social-networks {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);

  width: 30%;
  min-width: 200px;
  max-width: 300px;
}
.menu-social-networks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* FIXED HEADER ============================ */

.fixed-header {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  padding: 0 30px;

  transition: all 0.2s linear;

  border-bottom: solid 3px rgb(255, 14, 59);
  background-color: rgb(25, 10, 73);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
