/* 

	RESPONSIVE

*/

/* WIDTH ========================================================*/

@media only screen and (max-width: 1400px) {
  /* HEADER ==================== */

  header {
    width: calc(100% - 140px);
    left: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  /* PREF =======================*/

  .container {
    width: 92%;
    max-width: 930px;
  }

  /* HEADER ==================== */

  header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  /* HEADER ==================== */

  nav.main-nav {
    min-width: 350px;
  }
  .header-social-networks {
    min-width: 140px;
  }
}

@media only screen and (max-width: 990px) {
  /* PREF =============*/

  .container {
    max-width: 690px;
  }

  /* FOOTER ========= */

  .footer-info {
    flex-direction: column;
  }
  .footer-info-item {
    margin-top: 40px;
  }
  .footer-info-item:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 950px) {
  /* HEADER ==================== */

  nav.main-nav {
    display: none;
  }
  .header-social-networks {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  /* PREF =============== */

  .container {
    max-width: 510px;
  }

  /* HEADER ==================== */

  header {
    width: calc(100% - 60px);
    top: 30px;
    left: 30px;
  }
}

@media only screen and (max-width: 550px) {
  /* PREF ====================*/

  h1.section-title {
    font-size: 36px;
  }
  .button {
    font-size: 12px;
    width: 153px;
    height: 52px;
  }

  /* HEADER ==================== */

  header {
    width: calc(100% - 30px);
    top: 15px;
    left: 15px;
  }
}

@media only screen and (max-width: 370px) {
  section {
    padding: 60px 0;
  }
}

/* HEIGHT ======================================================*/

@media only screen and (max-height: 370px) {
  /* MENU =======================*/

  nav.menu-nav {
    font-size: 20px;
    transform: translate(-50%, -60%);
  }
  .menu-social-networks {
  }
  .menu-social-networks ul {
    font-size: 10px;
  }
}
